<footer class="align-self-center text-white">
    <div class="row d-flex">
        <div class="col-xl-8"></div>
        <div class="col-xl-4 pt-5">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">Link Úteis</li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="ResultadoPesquisa">Procurar Produtos</a></li>
                <li class="nav-item"><a asp-controller="Anuncios" asp-action="AdicionarAnuncio">Anunciar</a></li>
                <li class="nav-item"><a asp-controller="Painel" asp-action="Index">Painel Vendedor</a></li>
                <li class="nav-item"><a asp-controller="Perfil" asp-action="Reservas">Painel Comprador</a></li>
                <li class="nav-item"><a asp-controller="Perfil" asp-action="Guardados">Guardados</a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center pt-5">
        <div class="col-md-12">
            <p class="copyright">Copyright &copy; YURent @DateTime.Now.Year</p>
        </div>
    </div>
</footer>
