<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YURent | @ViewBag.Title</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Meu CSS -->
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/animations.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="~/images/favicon.ico">

</head>
<body>
    @* INÍCIO *@

    @if (User.Identity.IsAuthenticated)
    @await Html.PartialAsync("_LoggedIn")
    else
    @await Html.PartialAsync("_LoggedOut")

    <div>
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="~/js/JavaScript.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
    @RenderSection("Scripts", required: true)
    }

</body>
</html>