@model IEnumerable<YURent.Data.AnunciosModel>

@{
    ViewData["Title"] = "Pesquisar";
}

<div class="container mt-5">
    <form class="card card-sm" method="get" asp-action="ResultadoPesquisa" asp-controller="Home">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class="col d-flex">
                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="O que procuras?" name="procuraString">
                <button class="btn btn-lg btn-orange text-white" type="submit">Procurar</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="form-group col-md-3 mt-2">
            <form asp-action="PesquisarCategoria" method="post" id="categoriasform">
                <label for="SelectCategoria">Categoria</label>
                <input type="text">
                <input type="submit">
            </form>
            <select onchange="this.form.submit()" class="form-control" id="SelectCategoria" form="categoriasform">
                <option value="Câmeras">Câmeras</option>
                <option value="Drones">Drones</option>
                <option value="Lentes">Lentes</option>
                <option value="Eletrónica">Eletrónica</option>
                <option value="Projetores">Projetores</option>
                <option value="Instrumentos">Instrumentos</option>
                <option value="Outros">Outros</option>
            </select>

        </div>
        <div class="from-group col-md-3 mt-2">
            <label for="SelectPreco">Preço</label>
            <select class="form-control" id="SelectPreco">
                <option value="Nenhum"></option>
                <option value="MaisBarato">Mais Barato</option>
                <option value="MaisCaro">Mais Caro</option>
            </select>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        @foreach(var anuncio in Model){
        <div class="col-xl-3 col-md-4 col-sm-12 mt-2">
            <div class="shadow p-3" style="border-radius:15px;">
                <a asp-controller="Anuncios" asp-action="Anuncio" asp-route-id="@anuncio.Id_anuncio">
                    <img src="@anuncio.UrlImagem" id="imagem-anuncio" />
                </a>
                <h5 class="text-black">@anuncio.Título</h5>
                <h3 class="orange">@anuncio.Preco_dia € / Dia</h3>
                <p>Almada</p>
                <img class="star-produto" src="~/images/Stars/5-star.png" />(57)
            </div>
        </div>
        }
    </div>
</div>